USE [FINDB]
GO
/****** Object:  Table [CPDLIB].[CPPAC]    Script Date: 2026/4/16 下午 06:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CPDLIB].[CPPAC]') AND type in (N'U'))
BEGIN
CREATE TABLE [CPDLIB].[CPPAC](
	[TXDATE] [char](8) NULL,
	[COID] [char](4) NULL,
	[CK0010] [char](10) NULL,
	[CK0020] [char](4) NULL,
	[CCY] [char](3) NULL,
	[AC] [char](16) NULL,
	[ACNAME] [char](52) NULL,
	[FISCODE] [char](7) NULL,
	[BALO] [numeric](13, 2) NULL,
	[AMTR] [numeric](13, 2) NULL,
	[AMTP] [numeric](13, 2) NULL,
	[BALC] [numeric](13, 2) NULL,
	[AMTU] [numeric](13, 2) NULL,
	[ACTYPE] [char](1) NULL,
	[FLGRPT] [char](1) NULL,
	[GLACCT] [char](10) NULL,
	[ODATE] [char](8) NULL,
	[CDATE] [char](8) NULL,
	[NTBAL] [numeric](15, 2) NULL,
	[NTAMTC] [numeric](15, 2) NULL,
	[NTAMTD] [numeric](15, 2) NULL,
	[NTBALC] [numeric](15, 2) NULL,
	[CHARGE] [char](3) NULL,
	[MEMO] [char](60) NULL,
	[BNAME] [char](12) NULL,
	[CSBANK] [char](3) NULL,
	[DEPT] [char](3) NULL,
	[RMDEPT] [char](3) NULL
) ON [PRIMARY]
END
GO
