USE [FINDB]
GO
/****** Object:  Table [dbo].[GLPPAYI]    Script Date: 2026/4/16 下午 06:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GLPPAYI]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GLPPAYI](
	[EXPID] [char](10) NOT NULL,
	[EXPTYPE] [char](2) NOT NULL,
	[ITEMDES] [char](22) NOT NULL,
	[DACCTNUM] [char](10) NOT NULL,
	[CACCTNUM] [char](10) NOT NULL,
	[CACCTNUMX] [char](10) NOT NULL,
	[PAYACCT] [char](10) NOT NULL,
	[ACPTER] [char](10) NOT NULL,
	[FMTCODE] [char](1) NOT NULL,
	[WRTCODE] [char](1) NOT NULL,
	[CASHCODE] [char](1) NOT NULL,
	[SHTCHK1] [char](3) NOT NULL,
	[SHTCHK2] [char](3) NOT NULL,
	[SHTCHK3] [char](3) NOT NULL,
	[SHTCHK4] [char](3) NOT NULL,
	[SHTCHK5] [char](3) NOT NULL,
	[ACCESSOK] [char](1) NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[GLPPAYI] ([EXPID], [EXPTYPE], [ITEMDES], [DACCTNUM], [CACCTNUM], [CACCTNUMX], [PAYACCT], [ACPTER], [FMTCODE], [WRTCODE], [CASHCODE], [SHTCHK1], [SHTCHK2], [SHTCHK3], [SHTCHK4], [SHTCHK5], [ACCESSOK]) VALUES (N'A0001A    ', N'A ', N'影印費相關            ', N'53301001  ', N'21417904  ', N'22906001  ', N'1111301180', N'          ', N' ', N' ', N' ', N'05 ', N'06 ', N'   ', N'   ', N'   ', NULL)
INSERT [dbo].[GLPPAYI] ([EXPID], [EXPTYPE], [ITEMDES], [DACCTNUM], [CACCTNUM], [CACCTNUMX], [PAYACCT], [ACPTER], [FMTCODE], [WRTCODE], [CASHCODE], [SHTCHK1], [SHTCHK2], [SHTCHK3], [SHTCHK4], [SHTCHK5], [ACCESSOK]) VALUES (N'A0001B    ', N'A ', N'報表紙及委外印刷      ', N'53301001  ', N'21417904  ', N'22906001  ', N'1111301180', N'          ', N' ', N' ', N' ', N'05 ', N'06 ', N'   ', N'   ', N'   ', NULL)
INSERT [dbo].[GLPPAYI] ([EXPID], [EXPTYPE], [ITEMDES], [DACCTNUM], [CACCTNUM], [CACCTNUMX], [PAYACCT], [ACPTER], [FMTCODE], [WRTCODE], [CASHCODE], [SHTCHK1], [SHTCHK2], [SHTCHK3], [SHTCHK4], [SHTCHK5], [ACCESSOK]) VALUES (N'A0002     ', N'A ', N'郵票                  ', N'53302001  ', N'21417904  ', N'22906001  ', N'1111301180', N'          ', N' ', N' ', N' ', N'05 ', N'06 ', N'   ', N'   ', N'   ', NULL)
GO
