USE [FINDB]
GO
/****** Object:  Table [dbo].[GLPPAYU]    Script Date: 2026/4/16 下午 06:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GLPPAYU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GLPPAYU](
	[CK0010] [char](10) NOT NULL,
	[CK0020] [char](4) NOT NULL,
	[CK0030] [char](3) NOT NULL,
	[CK0040] [char](12) NOT NULL,
	[CK0050] [char](100) NOT NULL,
	[CK0060] [char](72) NOT NULL,
	[CK0070] [char](72) NOT NULL,
	[CK0080] [char](16) NOT NULL,
	[CK0090] [char](16) NOT NULL,
	[CK0100] [char](16) NOT NULL,
	[CK0110] [char](16) NOT NULL,
	[CK0120] [char](16) NOT NULL,
	[CK0130] [char](16) NOT NULL,
	[CK0140] [char](12) NOT NULL,
	[CK0960] [char](6) NOT NULL,
	[CK1120] [char](7) NOT NULL,
	[CK1130] [char](14) NOT NULL
) ON [PRIMARY]
END
GO
