USE [FINDB]
GO
/****** Object:  Table [dbo].[GLPPAYS]    Script Date: 2026/4/16 下午 06:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GLPPAYS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GLPPAYS](
	[SHTID] [char](2) NOT NULL,
	[SHTDESC] [char](20) NOT NULL,
	[SHTCHK] [char](10) NOT NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[GLPPAYS] ([SHTID], [SHTDESC], [SHTCHK]) VALUES (N'01', N'請購單（舊）        ', N'          ')
INSERT [dbo].[GLPPAYS] ([SHTID], [SHTDESC], [SHTCHK]) VALUES (N'02', N'訂購單(舊)          ', N'          ')
INSERT [dbo].[GLPPAYS] ([SHTID], [SHTDESC], [SHTCHK]) VALUES (N'04', N'簽呈                ', N'          ')
GO
