USE [FINDB]
GO
/****** Object:  Table [dbo].[GLPPAYH]    Script Date: 2026/4/16 下午 06:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GLPPAYH]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GLPPAYH](
	[EXPUSR] [char](5) NOT NULL,
	[EXPTYPE] [char](1) NOT NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[GLPPAYH] ([EXPUSR], [EXPTYPE]) VALUES (N'81002', N' ')
INSERT [dbo].[GLPPAYH] ([EXPUSR], [EXPTYPE]) VALUES (N'02005', N'A')
INSERT [dbo].[GLPPAYH] ([EXPUSR], [EXPTYPE]) VALUES (N'02022', N'A')
GO
