USE [FINDB]
GO
/****** Object:  Table [dbo].[GLPPAYR]    Script Date: 2026/4/17 上午 11:29:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GLPPAYR](
	[SPRID] [char](4) NOT NULL,
	[ITEMDES] [char](22) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[GLPPAYR] ([SPRID], [ITEMDES]) VALUES (N'A001', N'依全省各單位人數      ')
INSERT [dbo].[GLPPAYR] ([SPRID], [ITEMDES]) VALUES (N'A043', N'FIXGATEWAY系統維護費  ')
INSERT [dbo].[GLPPAYR] ([SPRID], [ITEMDES]) VALUES (N'A044', N'FIXGATEWAY系統維護費  ')
GO
