USE [FINDB]
GO
/****** Object:  Table [dbo].[GLPPAYT]    Script Date: 2026/4/16 下午 06:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GLPPAYT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GLPPAYT](
	[EXPTYPE] [char](2) NOT NULL,
	[ITEMDES] [char](22) NOT NULL,
	[PAYCODE] [char](1) NOT NULL,
	[PAYMHD] [char](1) NOT NULL,
	[ACCTPROC] [char](1) NOT NULL,
	[PAYACCT] [char](10) NOT NULL,
	[ACPTER1] [char](10) NOT NULL,
	[ACPTER2] [char](10) NOT NULL,
	[ACPTER3] [char](10) NOT NULL,
	[ACPTTYP] [char](3) NOT NULL,
	[ACCESSOK] [char](1) NULL,
	[BRHCOD] [char](4) NULL,
	[DEPTCD] [char](3) NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[GLPPAYT] ([EXPTYPE], [ITEMDES], [PAYCODE], [PAYMHD], [ACCTPROC], [PAYACCT], [ACPTER1], [ACPTER2], [ACPTER3], [ACPTTYP], [ACCESSOK], [BRHCOD], [DEPTCD]) VALUES (N'A ', N'一般費用              ', N' ', N' ', N' ', N'1111301180', N'          ', N'          ', N'          ', N'   ', NULL, NULL, NULL)
INSERT [dbo].[GLPPAYT] ([EXPTYPE], [ITEMDES], [PAYCODE], [PAYMHD], [ACCTPROC], [PAYACCT], [ACPTER1], [ACPTER2], [ACPTER3], [ACPTTYP], [ACCESSOK], [BRHCOD], [DEPTCD]) VALUES (N'B ', N'主管機關(SEC...等)    ', N'Y', N' ', N' ', N'          ', N'          ', N'          ', N'          ', N'   ', NULL, NULL, NULL)
INSERT [dbo].[GLPPAYT] ([EXPTYPE], [ITEMDES], [PAYCODE], [PAYMHD], [ACCTPROC], [PAYACCT], [ACPTER1], [ACPTER2], [ACPTER3], [ACPTTYP], [ACCESSOK], [BRHCOD], [DEPTCD]) VALUES (N'C ', N'營業證券/承銷成本     ', N'Y', N' ', N' ', N'          ', N'          ', N'          ', N'          ', N'   ', NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GLPPAYT]    Script Date: 2026/4/16 下午 06:41:22 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[GLPPAYT]') AND name = N'IX_GLPPAYT')
CREATE NONCLUSTERED INDEX [IX_GLPPAYT] ON [dbo].[GLPPAYT]
(
	[EXPTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 30) ON [PRIMARY]
GO
