USE [FINDB]
GO
/****** Object:  Table [dbo].[GLPDEPT]    Script Date: 2026/4/17 下午 02:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GLPDEPT](
	[COMPID] [char](4) NOT NULL,
	[DEPTNUM] [char](3) NOT NULL,
	[DEPTNAM] [char](24) NOT NULL,
	[NEWCOMP] [char](4) NOT NULL,
	[NEWDEPT] [char](3) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[GLPDEPT] ([COMPID], [DEPTNUM], [DEPTNAM], [NEWCOMP], [NEWDEPT]) VALUES (N'585a', N'001', N'行政中心             *  ', N'    ', N'   ')
INSERT [dbo].[GLPDEPT] ([COMPID], [DEPTNUM], [DEPTNAM], [NEWCOMP], [NEWDEPT]) VALUES (N'585a', N'300', N'營業一部             *  ', N'    ', N'   ')
INSERT [dbo].[GLPDEPT] ([COMPID], [DEPTNUM], [DEPTNAM], [NEWCOMP], [NEWDEPT]) VALUES (N'585a', N'301', N'展業組               *  ', N'    ', N'   ')
GO
