USE [AS400DB]
GO
/****** Object:  Table [dbo].[WFPORGM]    Script Date: 2026/4/17 上午 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WFPORGM]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WFPORGM](
	[EMPNO] [varchar](5) NOT NULL,
	[EMPNAME] [varchar](12) NOT NULL,
	[EMPACCT] [varchar](20) NULL,
	[BRHCOD] [varchar](6) NOT NULL,
	[BRHNAMB] [varchar](20) NULL,
	[DEPTCD] [varchar](3) NOT NULL,
	[DEPTNAM] [varchar](20) NULL,
	[TEAMCD] [varchar](2) NULL,
	[MANGER] [varchar](5) NOT NULL,
	[EMPNAME01] [varchar](12) NOT NULL,
	[MNGACCT] [varchar](20) NULL,
	[ORGPWD] [varchar](30) NULL,
	[ORGNAME] [varchar](20) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_empno]    Script Date: 2026/4/17 上午 10:17:02 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[WFPORGM]') AND name = N'idx_empno')
CREATE CLUSTERED INDEX [idx_empno] ON [dbo].[WFPORGM]
(
	[EMPNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 30) ON [PRIMARY]
GO
INSERT [dbo].[WFPORGM] ([EMPNO], [EMPNAME], [EMPACCT], [BRHCOD], [BRHNAMB], [DEPTCD], [DEPTNAM], [TEAMCD], [MANGER], [EMPNAME01], [MNGACCT], [ORGPWD], [ORGNAME]) VALUES (N'00011', N'黃美燕      ', N'MARIAN', N'585U  ', N'南京分公司          ', N'300', N'南京一部            ', N'20', N'07025', N'戴宏達      ', N'HONDA.TAI', N'000101010403050201            ', N'營業一科            ')
INSERT [dbo].[WFPORGM] ([EMPNO], [EMPNAME], [EMPACCT], [BRHCOD], [BRHNAMB], [DEPTCD], [DEPTNAM], [TEAMCD], [MANGER], [EMPNAME01], [MNGACCT], [ORGPWD], [ORGNAME]) VALUES (N'00027', N'李筠捷      ', N'SAMMIJEN', N'585c  ', N'仁愛分公司          ', N'300', N'仁愛一部            ', N'20', N'89397', N'陳君祥      ', N'JSCHEN', N'000101010405030201            ', N'營業一科            ')
INSERT [dbo].[WFPORGM] ([EMPNO], [EMPNAME], [EMPACCT], [BRHCOD], [BRHNAMB], [DEPTCD], [DEPTNAM], [TEAMCD], [MANGER], [EMPNAME01], [MNGACCT], [ORGPWD], [ORGNAME]) VALUES (N'00045', N'陳科榞      ', N'KJCHEN77', N'5850  ', N'總公司              ', N'300', N'營業一部            ', N'20', N'87123', N'許華修      ', N'ANNYHSU', N'000101010401030201            ', N'營業一科            ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_WFPORGM]    Script Date: 2026/4/17 上午 10:17:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[WFPORGM]') AND name = N'PK_WFPORGM')
ALTER TABLE [dbo].[WFPORGM] ADD  CONSTRAINT [PK_WFPORGM] PRIMARY KEY NONCLUSTERED 
(
	[EMPNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
