USE [AS400DB]
GO
/****** Object:  Table [dbo].[WFPPERM]    Script Date: 2026/4/17 上午 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WFPPERM]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WFPPERM](
	[EMPNO] [varchar](5) NOT NULL,
	[ACCOUNT] [varchar](20) NULL,
	[BIRTHD] [int] NULL,
	[EMPNAME] [nvarchar](12) NOT NULL,
	[POSCON] [varchar](1) NULL,
	[EMPSEX] [varchar](1) NULL,
	[BRHCOD] [varchar](6) NOT NULL,
	[COMPCD] [varchar](3) NULL,
	[BRHNAMB] [varchar](20) NULL,
	[BRHNAM] [varchar](26) NULL,
	[BRHRMK] [varchar](2) NULL,
	[DEPTCD] [varchar](3) NOT NULL,
	[DEPTNAM] [varchar](20) NULL,
	[JOBCAP] [varchar](3) NOT NULL,
	[JOBCNAM] [varchar](22) NULL,
	[JOBPOS] [varchar](3) NOT NULL,
	[JOBPNAM] [varchar](22) NULL,
	[TEAMCD] [varchar](4)  NULL,
	[ORGNAME] [nvarchar](22) NULL,
	[BEDSKC] [nvarchar](22) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_WFPPERM]    Script Date: 2026/4/17 上午 10:17:02 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[WFPPERM]') AND name = N'PK_WFPPERM')
CREATE UNIQUE CLUSTERED INDEX [PK_WFPPERM] ON [dbo].[WFPPERM]
(
	[EMPNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO

