USE [AS400DB]
GO
/****** Object:  Table [dbo].[WFPDEPT]    Script Date: 2026/4/17 上午 10:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WFPDEPT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WFPDEPT](
	[COMPCD] [varchar](3) NOT NULL,
	[BRHCOD] [varchar](5) NOT NULL,
	[BRHNAM] [varchar](20) NULL,
	[DEPTCD] [varchar](3) NOT NULL,
	[DEPTNAM] [varchar](20) NULL,
	[TEAMCD] [varchar](2) NOT NULL,
	[TEAMNAM] [varchar](20) NULL,
	[ORGPWD] [varchar](30) NULL,
	[MNGEMPNO] [varchar](5) NULL,
	[MNGACCT] [varchar](20) NULL,
	[MNGNAME] [varchar](12) NULL,
	[DEPEMPNO] [varchar](5) NULL,
	[DEPACCT] [varchar](20) NULL,
	[DEPNAME] [varchar](12) NULL,
	[VSPEMPNO] [varchar](5) NULL,
	[VSPACCT] [varchar](20) NULL,
	[VSPNAME] [varchar](12) NULL,
	[SUPEMPNO] [varchar](5) NULL,
	[SUPACCT] [varchar](20) NULL,
	[SUPNAME] [varchar](12) NULL,
	[VPEMPNO] [varchar](5) NULL,
	[VPACCT] [varchar](20) NULL,
	[VPNAME] [varchar](12) NULL,
 CONSTRAINT [PK_WFPDEPT] PRIMARY KEY CLUSTERED 
(
	[COMPCD] ASC,
	[BRHCOD] ASC,
	[DEPTCD] ASC,
	[TEAMCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[WFPDEPT] ([COMPCD], [BRHCOD], [BRHNAM], [DEPTCD], [DEPTNAM], [TEAMCD], [TEAMNAM], [ORGPWD], [MNGEMPNO], [MNGACCT], [MNGNAME], [DEPEMPNO], [DEPACCT], [DEPNAME], [VSPEMPNO], [VSPACCT], [VSPNAME], [SUPEMPNO], [SUPACCT], [SUPNAME], [VPEMPNO], [VPACCT], [VPNAME]) VALUES (N'585', N'5850', N'總公司              ', N'   ', N'', N'  ', N'', N'0001011201                    ', N'81002', N'', N'', N'14085', N'STCHIU', N'邱士庭', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[WFPDEPT] ([COMPCD], [BRHCOD], [BRHNAM], [DEPTCD], [DEPTNAM], [TEAMCD], [TEAMNAM], [ORGPWD], [MNGEMPNO], [MNGACCT], [MNGNAME], [DEPEMPNO], [DEPACCT], [DEPNAME], [VSPEMPNO], [VSPACCT], [VSPNAME], [SUPEMPNO], [SUPACCT], [SUPNAME], [VPEMPNO], [VPACCT], [VPNAME]) VALUES (N'585', N'5850 ', N'總公司              ', N'050', N'董事長              ', N'  ', N'', N'0002                          ', N'E0075', N'KCLIN', N'林寬成      ', N'E0075', N'KCLIN', N'林寬成', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[WFPDEPT] ([COMPCD], [BRHCOD], [BRHNAM], [DEPTCD], [DEPTNAM], [TEAMCD], [TEAMNAM], [ORGPWD], [MNGEMPNO], [MNGACCT], [MNGNAME], [DEPEMPNO], [DEPACCT], [DEPNAME], [VSPEMPNO], [VSPACCT], [VSPNAME], [SUPEMPNO], [SUPACCT], [SUPNAME], [VPEMPNO], [VPACCT], [VPNAME]) VALUES (N'585', N'5850 ', N'總公司              ', N'100', N'總經理              ', N'  ', N'', N'00010106                      ', N'85099', N'YKC', N'楊凱智      ', N'85099', N'YKC', N'楊凱智', N'', N'', N'', N'', N'', N'', N'', N'', N'')
GO
